.file {
    min-height: 43px;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    max-height: 43px;
}

.labelContainer {
    width: 30%;
    margin-top: 0.2rem;
    text-align: right;
}